
  
  .signup-container {
    width: 100%;
    min-height: 100vh;
    background: url('../../Images/CategoryBackground.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signup-box {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 40px;
    
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .signup-box h1 {
    margin-bottom: 30px;
    font-size: 36px;
    color: #0A2B14; /* Dark green color */
    font-size: 60px;
    margin-top: -20px;
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
    font-weight: 200;
  }
  
  .input-group label {
    
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    margin-left: 15px;
    color: #1E3932;
    margin-bottom: 5px;
  }
  
  .input-field {
    width: calc(100% - 40px); /* Reduces width to account for padding */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #1E3932;
    border-radius: 5px;
    margin-left: 13px; /* Adds space on the left side */
    margin-right: 35px; /* Adds space on the right side */
  }
  
  .signup-btn {
    background-color: #9ED90D;
    color: #FFFFFF;
    border: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 30px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .login-btn {
    background-color: transparent;
    color: #9ED90D;
    border: 2px solid #9ED90D;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
  }
  